<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <a href="/blogs/new">New Blog</a>
  </section>
</main>

<%- include('../partials/footer') %>