:root {
  --PurpleNavy: #464D77;
  --Xanadu: #758173;
  --LaurelGreen: #A9C5A0;
  --TeaGreenLight: #C5EFCB;
  --TeaGreenDark: #C6DEC6;
  --PottaOne: 'Potta One', cursive;
  --AverageSans: 'Average Sans', sans-serif;
  --SkyBlueCrayola: #1BE7FF;
  --LightGreen: #6EEB83;
  --SmokyBlack: #12100E;
  --SheenGreen: #A2D729;
  --TuftsBlue: #3C91E6;
  --BabyPowder: #FAFFFD;
  --MangoTango: #FA824C;
}

section {
  margin: 2vmin 0;
}

h3 {
  color: var(--MangoTango);
}

h4 {
  color: red;
}