:root {
  --PurpleNavy: #464D77;
  --Xanadu: #758173;
  --LaurelGreen: #A9C5A0;
  --TeaGreenLight: #C5EFCB;
  --TeaGreenDark: #C6DEC6;
  --PottaOne: 'Potta One', cursive;
  --AverageSans: 'Average Sans', sans-serif;
  --SkyBlueCrayola: #1BE7FF;
  --LightGreen: #6EEB83;
  --SmokyBlack: #12100E;
  --SheenGreen: #A2D729;
  --TuftsBlue: #3C91E6;
  --BabyPowder: #FAFFFD;
  --MangoTango: #FA824C;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

label {
  margin-bottom: 1vmin;
}

input {
  margin-bottom: 2vmin;
}

textarea {
  margin-bottom: 2vmin;
}

button {
  align-self: center;
  width: 40%;
}

@media (max-width: 720px) {
  form {
    width: 80%;
  }
}