html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

:root {
  --PurpleNavy: #464D77;
  --Xanadu: #758173;
  --LaurelGreen: #A9C5A0;
  --TeaGreenLight: #C5EFCB;
  --TeaGreenDark: #C6DEC6;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  background-color: #758173;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1vmin 2vmin 0 2vmin;
  background-color: black;
  height: 100%;
  color: antiquewhite;
}

.right {
  margin-left: auto;
}

.container-fluid {
  background-color: var(--Xanadu);
}

#nav-profile-link {
  margin-left: 5vmin;
}

.nav-img {
  max-width: 10vmin;
  /* display: block; */

}

.page-top {
  margin-top: 0;
}

